@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --black: #111;
  --blue: #3a80e9;
  --grey: #ccbcbc;
  --darkgrey: #161616;
  --green: #43c855;
  --red: #f94141;
  display: flex;
    flex-direction: column;
    min-height: 100vh;
  
}

[data-theme="dark"] {
  --white: #ffffff;
  --black: #111;
  --grey: #888;
  --darkgrey: #1b1b1b;
}

[data-theme="light"] {
  --white: #111;
  --black: #fff;
  --grey: #888;
  --darkgrey: #f3f3f3;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color: var(--white);
  font-family: "Noto Sans", serif;
}

a {
  text-decoration: none;
  color: var(--white) !important;
}

::selection{
  background-color: var(--red);
  color: var(--grey);
}

/* width */
::-webkit-scrollbar {
  width: 0.3rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;

}

img {
  -webkit-user-drag: none; /* Prevent dragging in some browsers */
  user-select: none; /* Prevent text selection fallback */
  pointer-events: none; /* Disable pointer events (optional) */
}

.grey-wrapper{
  display: block;
  width: 90%;
  background-color: var(--darkgrey);
  margin: 1.5rem auto;
  border-radius: 0rem 0.8rem;
  padding: 1rem 1rem;
}

